# SQL Project

### Info: The city of New York conducts restaurant inspections and assigns each restaurant a grade. Inspections data for various years on s3 as an SQLite database.

#### Checking formats

In [4]:
%%sql

SELECT table_name FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
4 rows affected.

[('webextract',), ('violations',), ('cuisine',), ('boroughs',)]

In [5]:
%%sql

SELECT column_name, data_type FROM information_schema.columns
WHERE table_name = 'webextract'
ORDER BY ordinal_position;

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
15 rows affected.

[('camis', 'integer'),
 ('dba', 'text'),
 ('boro', 'integer'),
 ('building', 'text'),
 ('street', 'text'),
 ('zipcode', 'text'),
 ('phone', 'text'),
 ('cuisinecode', 'integer'),
 ('inspdate', 'timestamp without time zone'),
 ('action', 'text'),
 ('violcode', 'text'),
 ('score', 'integer'),
 ('currentgrade', 'text'),
 ('gradedate', 'timestamp without time zone'),
 ('recorddate', 'timestamp without time zone')]

 ### Removing the NULL Values

In [ ]:
%%sql

SELECT camis, inspdate, score
FROM webextract
ORDER BY camis, inspdate
LIMIT 20;

In [9]:
%%sql

CREATE TEMP TABLE null_cases AS
(SELECT camis, inspdate
FROM webextract
GROUP BY camis, inspdate
HAVING SUM(score) IS NULL)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
8255 rows affected.

[]

## Question 2: Score by ZIP code

### Returning ZIP code, mean score, number of restaurants for each of the 87 ZIP codes in the city with over 100 restaurants using the score from the latest inspection date for each restaurant.

In [60]:
%%sql

CREATE TEMP TABLE webextract_2 AS
(SELECT camis, inspdate
FROM webextract
GROUP BY camis, inspdate
HAVING SUM(score) IS NOT NULL)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
160492 rows affected.

[]

In [61]:
%%sql

CREATE TEMP TABLE webextract_upt AS
(SELECT * 
FROM webextract_2
JOIN webextract USING(camis, inspdate))

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
522812 rows affected.

[]

In [13]:
# GET THE LATEST_TIME

In [ ]:
%%sql

SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
FROM WEBEXTRACT_UPT
GROUP BY CAMIS
ORDER BY CAMIS DESC
LIMIT 100

In [15]:
# jOIN WITH THE REAL DATA

In [ ]:
%%sql
SELECT DISTINCT(LATEST.CAMIS), LATEST_INSPDATE, ZIPCODE, SCORE
FROM 
    (SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
    FROM WEBEXTRACT_UPT
    GROUP BY CAMIS) AS LATEST
JOIN WEBEXTRACT_UPT ON LATEST.LATEST_INSPDATE = INSPDATE AND LATEST.CAMIS = WEBEXTRACT_UPT.CAMIS
WHERE ZIPCODE = '11201' AND SCORE IS NOT NULL
    ORDER BY LATEST.CAMIS DESC
LIMIT 400

In [17]:
%%sql
SELECT ZIPCODE, COUNT(CAMIS), AVG(SCORE)
FROM
    (SELECT DISTINCT(LATEST.CAMIS), LATEST_INSPDATE, ZIPCODE, SCORE
    FROM (SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
    FROM WEBEXTRACT_UPT
    GROUP BY CAMIS) AS LATEST
JOIN WEBEXTRACT_UPT ON LATEST.LATEST_INSPDATE = INSPDATE AND LATEST.CAMIS = WEBEXTRACT_UPT.CAMIS
WHERE ZIPCODE = '11201' AND SCORE IS NOT NULL
    ORDER BY LATEST.CAMIS DESC) AS MYDATA
GROUP BY ZIPCODE

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
1 rows affected.

[('11201', 333, Decimal('10.7687687687687688'))]

In [18]:
# let's now aggregagte

In [ ]:
%%sql

SELECT ZIPCODE, AVG(SCORE), COUNT(CAMIS)
FROM
    (SELECT DISTINCT(LATEST.CAMIS), LATEST_INSPDATE, ZIPCODE, SCORE
    FROM (SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
    FROM WEBEXTRACT_UPT
    GROUP BY CAMIS) AS LATEST
JOIN WEBEXTRACT_UPT ON LATEST.LATEST_INSPDATE = INSPDATE AND LATEST.CAMIS = WEBEXTRACT_UPT.CAMIS
WHERE SCORE IS NOT NULL
ORDER BY LATEST.CAMIS DESC) AS MYDATA2
GROUP BY ZIPCODE
HAVING COUNT(CAMIS) > 100
ORDER BY AVG(SCORE)

### Returning borough, mean score, number of restaurants for each of the city's five boroughs

#### Inspecting the boroughs table and joining with main

In [22]:
%%sql

SELECT * 
FROM BOROUGHS

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[(1, 'MANHATTAN'),
 (2, 'THE BRONX'),
 (3, 'BROOKLYN'),
 (4, 'QUEENS'),
 (5, 'STATEN ISLAND')]

In [23]:
%%sql

SELECT *
FROM WEBEXTRACT_UPT
LIMIT 2

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
2 rows affected.

[(40356649, datetime.datetime(2011, 8, 17, 0, 0), 'REGINA CATERERS', 3, '6409', '11 AVENUE', '11219', '7182560829', 3, 'D', '10F', 11, 'A', datetime.datetime(2011, 8, 17, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (40356649, datetime.datetime(2011, 8, 17, 0, 0), 'REGINA CATERERS', 3, '6409', '11 AVENUE', '11219', '7182560829', 3, 'D', '04M', 11, 'A', datetime.datetime(2011, 8, 17, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000))]

In [ ]:
%%sql


SELECT *
FROM WEBEXTRACT_UPT
JOIN BOROUGHS ON BOROUGHS.ID = WEBEXTRACT_UPT.BORO
LIMIT 10

### Create the borough_data with main features

In [25]:
%%sql
CREATE TEMP TABLE BOROUGH_DATA AS 
(SELECT CAMIS, INSPDATE, NAME AS BOROUGHS, SCORE
FROM 
    (SELECT *
     FROM WEBEXTRACT_UPT
     JOIN BOROUGHS ON BOROUGHS.ID = WEBEXTRACT_UPT.BORO) AS BOROUGHS)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
522710 rows affected.

[]

#### Getting the latest_time

In [ ]:
%%sql

SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
FROM BOROUGH_DATA
GROUP BY CAMIS
ORDER BY CAMIS DESC
LIMIT 100

#### Joining with borough_data

In [ ]:
%%sql

SELECT DISTINCT(LATEST.CAMIS), LATEST_INSPDATE, BOROUGHS, SCORE
FROM 
    (SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
    FROM BOROUGH_DATA
    GROUP BY CAMIS) AS LATEST
JOIN BOROUGH_DATA ON LATEST.LATEST_INSPDATE = INSPDATE AND LATEST.CAMIS = BOROUGH_DATA.CAMIS
WHERE SCORE IS NOT NULL
ORDER BY LATEST.CAMIS DESC
LIMIT 100

#### Final

In [28]:
%%sql

SELECT BOROUGHS, AVG(SCORE), COUNT(CAMIS)
FROM
    (SELECT DISTINCT(LATEST.CAMIS), LATEST_INSPDATE, BOROUGHS, SCORE
    FROM (SELECT CAMIS, MAX(INSPDATE) AS LATEST_INSPDATE
    FROM BOROUGH_DATA
    GROUP BY CAMIS) AS LATEST
JOIN BOROUGH_DATA ON LATEST.LATEST_INSPDATE = INSPDATE AND LATEST.CAMIS = BOROUGH_DATA.CAMIS
WHERE SCORE IS NOT NULL
ORDER BY LATEST.CAMIS DESC) AS MYDATA2
GROUP BY BOROUGHS
ORDER BY AVG(SCORE)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[('THE BRONX', Decimal('10.7768522577816747'), 2281),
 ('MANHATTAN', Decimal('11.4896370437771712'), 9891),
 ('BROOKLYN', Decimal('11.5968541631048042'), 5849),
 ('QUEENS', Decimal('11.8225955325826103'), 5417),
 ('STATEN ISLAND', Decimal('11.8991228070175439'), 912)]

### Now I look at violations themselves. Most restaurants have many inspections with possibly multiple violations per inspection, or long stretches of inspections with no violations. I will be dividing the number of violations by the length of time (in years) the restaurant has been open.  As a proxy for the length, I'll look at the difference between the oldest and newest inspection date, treating anything less than 30 days as 30 days. Since there are so many restaurants, I'll group them by cuisine and do a weighted average by computing

In [6]:
%%sql

SELECT *
FROM webextract_upt
ORDER BY camis
LIMIT 10

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
10 rows affected.

[(30075445, datetime.datetime(2013, 9, 11, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'U', '04N', 6, 'A', datetime.datetime(2013, 9, 11, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2011, 11, 23, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'D', '10B', 9, 'A', datetime.datetime(2011, 11, 23, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'P', '04L', 25, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2013, 9, 11, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'U', '04L', 6, 'A', datetime.datetime(2013, 9, 11, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'P', '08A', 25, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'P', '02G', 25, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'P', '06C', 25, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'P', '10F', 25, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2012, 12, 31, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'F', '16B', None, None, None, datetime.datetime(2014, 9, 4, 6, 1, 28, 403000)),
 (30075445, datetime.datetime(2011, 11, 23, 0, 0), 'MORRIS PARK BAKE SHOP', 2, '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', 8, 'D', '10H', 9, 'A', datetime.datetime(2011, 11, 23, 0, 0), datetime.datetime(2014, 9, 4, 6, 1, 28, 403000))]

### Joining the webextract with cuisine table

In [8]:
%%sql

CREATE TEMP TABLE main AS
(SELECT camis,inspdate, violcode, codedesc AS cuisine
 FROM webextract_upt
 JOIN cuisine USING(cuisinecode)
    WHERE violcode IS NOT NULL)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
517107 rows affected.

[]

### Making the leghth data.

In [35]:
%%sql
CREATE TEMP TABLE length_data AS
(SELECT camis,  MAX(inspdate) - MIN(inspdate) AS length
FROM main
GROUP BY camis)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
24247 rows affected.

[]

In [37]:
result = %sql SELECT * FROM length_data

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
24247 rows affected.

### Join the table above with Viol_data

In [ ]:
%%sql
SELECT cuisine, camis, AVG(years) AS years, COUNT(violation) AS viol_count
FROM df
GROUP BY camis, cuisine
ORDER BY cuisine
LIMIT 100

In [ ]:
%%sql

SELECT cuisine, SUM(viol_count)/SUM(years) AS weighted_avg
FROM
    (SELECT cuisine, camis, AVG(years) AS years, COUNT(violation) AS viol_count
    FROM df
    GROUP BY camis, cuisine
    ORDER BY camis) AS camis_years
GROUP BY cuisine
HAVING SUM(viol_count) > 100
ORDER BY weighted_avg DESC

### Understanding which cuisines tend to have a disproportionate number of which violations is important. There are some issues to account for: 
   #### 1.More popular cuisine categories will tend to have more violations just because they represent more restaurants.
   #### 2.Similarly, some violations are more common.  For example, knowing that "Equipment not easily movable or sealed to floor" is a common violation for Chinese restaurants is not particularly helpful when it is a common violation for all restaurants.

### I will look at the conditional probability of a specific type of violation given a specific cuisine type and divide it by the unconditional probability of the violation for the entire population.

In [ ]:
%%sql

SELECT * 
FROM violations
WHERE enddate > '2014-01-01'
LIMIT 10

In [ ]:
%%sql

SELECT * 
FROM webextract_upt
LIMIT 5

### Joining

In [67]:
# cuisine and webextract

In [64]:
%%sql

SELECT violcode, codedesc AS cuisine
    FROM webextract_upt
JOIN cuisine USING(cuisinecode)
    WHERE violcode IS NOT NULL
LIMIT 5

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[('10F', 'American '),
 ('04M', 'American '),
 ('08A', 'American '),
 ('06C', 'Ice Cream, Gelato, Yogurt, Ices'),
 ('10F', 'Ice Cream, Gelato, Yogurt, Ices')]

In [65]:
%%sql
CREATE TEMP TABLE data AS
(SELECT violcode, violdata.violationdesc, cuisine
FROM
   (SELECT violcode, codedesc AS cuisine
    FROM webextract_upt
    JOIN cuisine USING(cuisinecode)
    WHERE violcode IS NOT NULL) AS cuisinedata    
JOIN 
    (SELECT violationcode, violationdesc
    FROM violations
    WHERE enddate > '2014-01-01') AS violdata
ON violdata.violationcode = cuisinedata.violcode)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
517101 rows affected.

[]

In [13]:
%%sql

SELECT * 
FROM data LIMIT 3

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
3 rows affected.

[('10F', 'Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 'American '),
 ('04M', "Live roaches present in facility's food and/or non-food areas.", 'American '),
 ('08A', 'Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.', 'American ')]

### Getting the idea taking smaller steps

In [71]:
## 1. number of specific violation in a cuisine (Soups & Sandwiches)

In [54]:
%%sql

SELECT CUISINE, VIOLATIONDESC, COUNT(*)
FROM data
GROUP BY CUISINE, VIOLATIONDESC
HAVING CUISINE = 'Soups & Sandwiches'
ORDER BY COUNT DESC

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
(psycopg2.errors.UndefinedTable) relation "data" does not exist
LINE 2: FROM data
             ^

[SQL: SELECT CUISINE, VIOLATIONDESC, COUNT(*)
FROM data
GROUP BY CUISINE, VIOLATIONDESC
HAVING CUISINE = 'Soups & Sandwiches'
ORDER BY COUNT DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [73]:
# 2. the total count of violations for specific cuisine

In [102]:
%%sql

SELECT cuisine, COUNT(violationdesc)
FROM data
GROUP BY cuisine
HAVING cuisine = 'Soups & Sandwiches'
ORDER BY count DESC

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
   sqlite:///sample.db
1 rows affected.

[('Soups & Sandwiches', 571)]

In [75]:
# 3. the total count of specific violations

In [94]:
%%sql

SELECT violationdesc, COUNT(violationdesc)
FROM data
GROUP BY violationdesc
ORDER BY count DESC
LIMIT 10

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
   sqlite:///sample.db
10 rows affected.

[('Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.', 66420),
 ('Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.', 49564),
 ('Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.', 45819),
 ("Evidence of mice or live mice present in facility's food and/or non-food areas.", 38306),
 ('Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not provided where required; equipment or floor not properly drained; sewage disposal system in disrepair or not functioning properly.', 31331),
 ('Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.', 30966),
 ('Food not protected from potential source of contamination during storage, preparation, transportation, display or service.', 25370),
 ('Hot food item not held at or above 140º F.', 24523),
 ('Filth flies or food/refuse/sewage-associated (FRSA) flies present in facility’s food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', 21508),
 ('Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', 15954)]

In [77]:
# 4. total violation count

In [95]:
%%sql

SELECT SUM(count)
FROM
    (SELECT violationdesc, COUNT(violationdesc)
    FROM data
    GROUP BY violationdesc
    ORDER BY count DESC) AS spec_viol

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
   sqlite:///sample.db
1 rows affected.

[(Decimal('517101'),)]

In [79]:
# Calculation (not the same but very close)

In [80]:
(106/571) / (45819/517101)

2.0950747762583215

### Getting the frequency

In [ ]:
# count of each violation across all cuisines

In [ ]:
%%sql

SELECT cuisine, violationdesc, COUNT(*) AS count1
FROM data
GROUP BY cuisine, violationdesc
ORDER BY count1 DESC
LIMIT 100

In [ ]:
# count of all violations

In [68]:
%%sql

SELECT cuisine, COUNT(*) AS count2
FROM data
GROUP BY cuisine
ORDER BY count2 DESC
LIMIT 10

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
10 rows affected.

[('American ', 124420),
 ('Chinese', 60599),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 25852),
 ('Pizza', 25510),
 ('Italian', 25449),
 ('Japanese', 18315),
 ('Mexican', 18283),
 ('Caribbean', 16049),
 ('Bakery', 15992),
 ('Café/Coffee/Tea', 14713)]

In [21]:
# Conditional Probability

In [84]:
%%sql
CREATE TEMP TABLE cond_prob AS

(SELECT A.cuisine, A.violationdesc, A.count1, A.count1*1.0/B.count2 AS freq
FROM
    (SELECT cuisine, violationdesc, COUNT(*) AS count1 FROM data GROUP BY cuisine, violationdesc) AS A
JOIN
    (SELECT cuisine, COUNT(*) AS count2 FROM data GROUP BY cuisine) AS B
    ON A.cuisine = B.cuisine
WHERE A.count1 > 100)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
743 rows affected.

[]

In [22]:
# Unconditioal Probability

In [70]:
%%sql
CREATE TEMP TABLE uncond_prob AS
(SELECT violationdesc, COUNT(violationdesc), COUNT(violationdesc) * 1.0 / 517101 AS unc_freq
FROM data
GROUP BY violationdesc
HAVING COUNT(violationdesc) > 100
ORDER BY unc_freq DESC)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
65 rows affected.

[]

In [ ]:
%%sql 

SELECT * FROM cond_prob
ORDER BY freq DESC
LIMIT 10

In [90]:
%%sql 

CREATE TEMP TABLE final_data AS 
(SELECT cond_prob.cuisine, count1, cond_prob.violationdesc, freq, unc_freq, freq / unc_freq as ratio
FROM
cond_prob
JOIN uncond_prob USING(violationdesc))

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
743 rows affected.

[]

In [89]:
%%sql 
DROP TABLE final_data

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.

[]

In [93]:
%%sql 

SELECT cuisine, violationdesc, ratio, count1
FROM final_data
ORDER BY ratio DESC
LIMIT 20

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
20 rows affected.

[('Japanese', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', Decimal('3.23200483983387072724'), 541),
 ('Café/Coffee/Tea', '“Choking first aid” poster not posted. “Alcohol and pregnancy” warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.', Decimal('3.13414089230297072166'), 173),
 ('Juice, Smoothies, Fruit Salads', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('3.07743639059083118218'), 145),
 ('Donuts', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('3.03110111231992797078'), 130),
 ('Ice Cream, Gelato, Yogurt, Ices', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('2.95068132018625034173'), 193),
 ('Thai', 'Thawing procedures improper.', Decimal('2.62505254660409754613'), 151),
 ('Irish', 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', Decimal('2.37702788079127079133'), 321),
 ('Mexican', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.32709537877408424560'), 260),
 ('Indian', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.24961708355797660991'), 112),
 ('Chinese', 'Thawing procedures improper.', Decimal('2.19195074413611898902'), 1121),
 ('Caribbean', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.10042673899789489587'), 206),
 ('Soups & Sandwiches', 'Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.', Decimal('2.09507477625832154835'), 106),
 ('Hamburgers', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('2.08858068581206067370'), 109),
 ('Chinese', 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.', Decimal('2.08167829475520994546'), 121),
 ('Middle Eastern', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('2.04405148507626067245'), 117),
 ('American ', '""No Smoking” and/or \'Smoking Permitted” sign not conspicuously posted. Health warning not present on \'Smoking Permitted”', Decimal('2.02441913705399505623'), 151),
 ('Donuts', 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.', Decimal('2.01685337843985330630'), 107),
 ('American ', 'Ashtray present in smoke-free area.', Decimal('1.89992789399958664970'), 128),
 ('Spanish', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('1.89796244728979359285'), 151),
 ('Hamburgers', 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facility’s food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', Decimal('1.89011504275723644764'), 600)]